@model onlineexam.Models.Course
@{
    ViewData["Title"] = "Create";
}
<br />
<h2 class="text-success">Update Course</h2>
<form asp-action="Update" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <h3>@ViewBag.message</h3>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CourseDetails"></label>
            </div>
            <div class="col-5">
                <input asp-for="CourseDetails" class="form-control" />
            </div>
            <span asp-validation-for="CourseDetails" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TeacherId">Teacher</label>
            </div>
            <div class="col-5">
                <select asp-for="TeacherId" asp-items="ViewBag.tId" class="form-control"></select>
            </div>
            <span asp-validation-for="TeacherId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SemesterId">Semester</label>
            </div>
            <div class="col-5">
                <select asp-for="SemesterId" asp-items="ViewBag.sId" class="form-control"></select>
            </div>
            <span asp-validation-for="SemesterId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
