
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have persmission to view this resource</h6>
    <img src="~/images/adb47415-906e-4b85-a917-6f5a27af360b_151742-beautiful-cool-desktop-wallpaper-2560x1600-for-computer.jpg" style="height:300px; width:300px" />
</div>
