@model onlineexam.ViewModels.UserRegisterViewModel
@{
    ViewData["Title"] = "TRegister";
}
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="create" class="mt-3">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <h1 align="center">User Registration</h1>
            </div>
            <div class="form-group ">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Identity">Teacher_Rank/Student_Roll</label>
                <input asp-for="Identity" class="form-control" />
                <span asp-validation-for="Identity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId">Role</label>
                <select asp-for="RoleId" asp-items="ViewBag.roleId" class="form-control"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="col-form-label">Image</label>
                <div class="custom-file">
                    <input asp-for="Image" class="form-control custom-file-input">
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" align="center">Register</button>
        </form>
    </div>
    <div class="col-md-3">
    </div>
</div>
